<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCBGScorepad"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MCBGScorepad.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scoresheetgame.ScoresheetGameActivity"
            android:exported="true"
            android:label="@string/template_newgame"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MCBGScorepad.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_MAIN" />
                <category android:name="android.intent.category.CATEGORY_APP_CALCULATOR" />
            </intent-filter>
        </activity>
        <activity
            android:name=".roundbasedgame.RoundGameActivity"
            android:exported="true"
            android:label="@string/roundgame_newgame"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MCBGScorepad.NoActionBar" >
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

</manifest>